@model ArticleCategoriesAddDTO
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xl-12">
        <form method="post">
            <!-- HTML5 Inputs -->
            <div class="card mb-4">
                <h5 class="card-header">TYPES OF WRITING</h5>
                <div class="card-body">
                    <div class="mb-3 row">
                        <label for="html5-text-input" class="col-md-2 col-form-label">Category Name</label>
                        <div class="col-md-10">
                            <input asp-for="CategoryName" class="form-control" type="text" placeholder="Technology">
                            <span class="text-danger" asp-validation-for="CategoryName"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                       <div class="btn-group">
                            <label for="html5-text-input" class="col-md-2 col-form-label">Types Of Writing</label>
                            <select id="drpEmpList" class="form-control" asp-for="TypesOfWritingID" asp-items="(new SelectList(ViewBag.typesOfWriting))">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <button type="submit" class="btn btn-outline-info">ADD</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
