@model List<ArticleCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Category /</span> All Category
    </h4>
    <div class="card">
        <a href="/Category/Add" class="btn btn-outline-primary offcanvas-title">Add New Categories</a>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>CATEGORIES</th>
                        <th>TYPES OF WRITING</th>
                        <th>DELETE</th>
                        <th>UPDATE</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td><strong>@item.CategoryName</strong></td>
                            <td><span class="badge bg-label-success me-1">@item.TypesOfWriting.Name</span></td>
                            <td><a href="/Category/Delete/@item.ArticleCategoryID" class="btn btn-outline-danger">Delete</a></td>
                            <td><a href="/Category/Update/@item.ArticleCategoryID" class="btn btn-outline-info">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


