
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="light-style  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../../assets/" data-template="vertical-menu-template">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>Error</title>
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 5">
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">

    <link rel="canonical" href="https://1.envato.market/vuexy_admin">
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5J3LMKC');</script>

    <link rel="icon" type="image/x-icon" href="~/vuexy-html-bootstrap-admin-template/assets/img/favicon/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">

    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/fonts/tabler-icons.css">
    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/fonts/flag-icons.css">

    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/css/rtl/core.css" class="template-customizer-core-css">
    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css">
    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/css/demo.css">
>
    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/node-waves/node-waves.css">
    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/typeahead-js/typeahead.css">

    <link rel="stylesheet" href="~/vuexy-html-bootstrap-admin-template/assets/vendor/css/pages/page-misc.css">

    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/js/helpers.js"></script>
     <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/js/template-customizer.js"></script>
     <script src="~/vuexy-html-bootstrap-admin-templateassets/js/config.js"></script>
</head>

<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5J3LMKC" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>

    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h2 class="mb-1 mt-4">Page Not Found :(</h2>
            <p class="mb-4 mx-2">Oops! 😖 The requested URL was not found on this server.</p>
            <a href="/Dashboard/Index" class="btn btn-primary mb-4">Back to home</a>
            <div class="mt-4">
                <img src="~/vuexy-html-bootstrap-admin-template/assets/img/illustrations/page-misc-error.png" alt="page-misc-error" width="225" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container-fluid misc-bg-wrapper">
        <img src="~/vuexy-html-bootstrap-admin-templateassets/img/illustrations/bg-shape-image-light.png" alt="page-misc-error" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
    </div>

    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/js/bootstrap.js"></script>
    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/node-waves/node-waves.js"></script>

    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="~/vuexy-html-bootstrap-admin-template/assets/vendor/js/menu.js"></script>

    <script src="~/vuexy-html-bootstrap-admin-template/assets/js/main.js"></script>
</body>

</html>
