@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">System Users /</span> All Users
    </h4>
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name Surname</th>
                        <th>Role</th>
                        <th>Date Of Start</th>
                        <th>Information</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @{
                        foreach (var item in Model)
                        {
                            count++;
                            <tr class="table-active">
                                <td>@count</td>
                                <td><strong>@item.Name  @item.Surname</strong></td>
                                <td><a href="/Role/AssignRole/@item.Id" class="btn btn-outline-warning">Add Role</a></td>
                                <td>@item.JoinDate.ToShortDateString()</td>
                                <td>
                                    <a href="/HumanResources/UserInformation/@item.Id" class="btn btn-outline-primary">Show</a>                                 
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>