<div class="axil-footer-area axil-footer-style-1 footer-variation-2">
    <div class="footer-mainmenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">World</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="#">U.N.</a></li>
                                <li><a href="#">Conflicts</a></li>
                                <li><a href="#">Terrorism</a></li>
                                <li><a href="#">Disasters</a></li>
                                <li><a href="#">Global Economy</a></li>
                                <li><a href="#">Environment</a></li>
                                <li><a href="#">Religion</a></li>
                                <li><a href="#">Scandals</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">Politics</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="#">Executive</a></li>
                                <li><a href="#">Senate</a></li>
                                <li><a href="#">House</a></li>
                                <li><a href="#">Judiciary</a></li>
                                <li><a href="#">Global Economy</a></li>
                                <li><a href="#">Foreign policy</a></li>
                                <li><a href="#">Polls</a></li>
                                <li><a href="#">Elections</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h2 class="title">Entertainment</h2>
                        <div class="inner">
                            <ul class="ft-menu-list">
                                <li><a href="#">Celebrity News</a></li>
                                <li><a href="#">Movies</a></li>
                                <li><a href="#">TV News</a></li>
                                <li><a href="#">Disasters</a></li>
                                <li><a href="#">Music News</a></li>
                                <li><a href="#">Environment</a></li>
                                <li><a href="#">Style News</a></li>
                                <li><a href="#">Entertainment Video</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="logo">
                        <a href="index.html">
                            <img class="dark-logo" src="~/blogar/assets/images/logo/logo-black.png" alt="Logo Images">
                            <img class="white-logo" src="~/blogar/assets/images/logo/logo-white2.png" alt="Logo Images">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-4">
                    <div class="copyright-right text-start text-md-end mt_sm--20">
                        <p class="b3">All Rights Reserved © 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="backto-top"></a>