@model List<NewsArticle>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">News Article /</span> All News Article
    </h4>
    <div class="card">
      <a href="/NewsArticle/Add" class="btn btn-outline-primary offcanvas-title">ADD NEW NEWS ARTICLE</a>
        <br />
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>TITLE</th>
              <th>DATE</th>
              <th>CATEGORY</th>
              <th>UPDATE</th>
              <th>DELETE</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
              @foreach (var item in Model)
                    {
                        count++;
                        <tr class="table-active">
                            <td>@count</td>
                            <td><strong>@item.Title</strong></td>
                            <td>@item.Date.ToShortDateString()</td>
                            <td><span class="badge bg-label-success me-1">@item.ArticleCategory.CategoryName</span></td>
                            <td><a href="/NewsArticle/Edit/@item.NewsArticleID" class="btn btn-outline-primary">Update</a></td>
                            <td><a href="/NewsArticle/Delete/@item.NewsArticleID" class="btn btn-outline-primary">Delete</a></td>
                        </tr>
                    }
                    
          </tbody>
        </table>       
      </div>
    </div>
</div>

