<header class="header axil-header  header-light header-sticky ">
    <div class="header-wrap">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                <div class="logo">
                    <a href="/Home/Index">
                        <img class="dark-logo" src="~/blogar/assets/images/logo/logo-black.png" alt="Blogar logo">
                        <img class="light-logo" src="~/blogar/assets/images/logo/logo-white2.png" alt="Blogar logo">
                    </a>
                </div>
            </div>

            <div class="col-xl-6 d-none d-xl-block">
                <div class="mainmenu-wrapper">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="menu-item-has-children"><a href="/Homepage/Home/Index">Home</a></li>
                            <li class="menu-item-has-children"><a href="#">Article</a> </li>
                            <li class="menu-item-has-children"><a href="#">News Article</a> </li>
                            <li><a href="/Homepage/Contact/Index">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                <div class="header-search text-end d-flex align-items-center">
                    <ul class="metabar-block">
                        <li><a href="/Login/Index"><i class="fal fa-sign-in"></i></a></li>
                    </ul>
                    <div class="hamburger-menu d-block d-xl-none">
                        <div class="hamburger-inner">
                            <div class="icon"><i class="fal fa-bars"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>