@model UserEditDTO
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Account Settings /</span> Account
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>
                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <form method="post" asp-action="UploadPhoto" asp-controller="Settings" enctype="multipart/form-data">
                            <img src="~/IMAGES/UserImages/@ViewBag.UserImage" alt="user-avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar">
                            <div class="button-wrapper">
                                <br />
                                <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="ti ti-upload d-block d-sm-none"></i>
                                    <input asp-for="Image" type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                                </label>
                                <button type="submit" class="btn btn-primary me-2 mb-3">
                                    <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Save</span>
                                </button>

                                <div class="text-muted">Allowed JPG, GIF or PNG. Max size of 800K</div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label">First Name</label>
                                <input class="form-control" asp-for="Name" type="text" placeholder="John" autofocus="">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Last Name</label>
                                <input class="form-control" asp-for="Surname" type="text" placeholder="Doe">
                                <span class="text-danger" asp-validation-for="Surname"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">E-mail</label>
                                <input class="form-control" asp-for="Email" type="text" placeholder="john.doe@example.com">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Age</label>
                                <input class="form-control" asp-for="Age" type="text" placeholder="25">
                                <span class="text-danger" asp-validation-for="Age"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Phone</label>
                                <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
                                <span class="text-danger" asp-validation-for="Phone"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Job</label>
                                <input type="text" class="form-control" asp-for="Job" placeholder="Job">
                                <span class="text-danger" asp-validation-for="Job"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label  class="form-label">User Name</label>
                                <input type="text" asp-for="UserName" class="form-control"placeholder="User Name">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label">Password</label>
                                <input class="form-control" asp-for="Password" type="text" placeholder="Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                        </div>
                    </form>
                </div>
                <!-- /Account -->
            </div>


            <div class="card">
                <h5 class="card-header">Delete Account</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                            <h5 class="alert-heading mb-1">Are you sure you want to delete your account?</h5>
                            <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                        </div>
                    </div>
                    <form method="post" asp-action="DeleteAccount" asp-controller="Settings">
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation">
                            <label class="form-check-label" for="accountActivation" name="lblCheck" id="lblCheck">I confirm my account deactivation</label>
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

