@model NotificationAddDTO
@{
    ViewData["Title"] = "AddNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-12"><span class="text-muted fw-light">Notifications /</span> Add Notification</h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-12">
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon11">Title</span>
                            <input type="text" class="form-control" placeholder="Title" asp-for="Title">                           
                        </div>
                        <span class="text-danger" asp-validation-for="Title"></span>
                        <br />
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon11">Message</span>
                            <textarea type="text" class="form-control" placeholder="Description" rows="7" cols="6" asp-for="Description"></textarea>                           
                        </div>
                        <span class="text-danger" asp-validation-for="Description"></span>
                        <br />
                        <div class="input-group">
                            <button type="submit" class="btn btn-primary">ADD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>